---
http_interactions:
- request:
    method: get
    uri: https://api2.bigoven.com/recipe/175918
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-BigOven-API-Key:
      - 5d0PA2CPR5SEg3843If18k0JI12hHn7g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"RecipeID\": 175918,\r\n  \"Title\": \"Mom's Pizza\",\r\n  \"Description\":
        \"The best pizza recipie ever!!!!! (no Mom didn't pay me to say that)\",\r\n
        \ \"Cuisine\": \"American\",\r\n  \"Category\": \"Main Dish\",\r\n  \"Subcategory\":
        \"Pizza and Calzones\",\r\n  \"Microcategory\": null,\r\n  \"PrimaryIngredient\":
        \"Cheese\",\r\n  \"StarRating\": 5.0,\r\n  \"WebURL\": \"http://www.bigoven.com/recipe/moms-pizza/175918\",\r\n
        \ \"ImageURL\": \"http://redirect.bigoven.com/pics/moms-pizza.jpg\",\r\n  \"ReviewCount\":
        1,\r\n  \"MedalCount\": 0,\r\n  \"FavoriteCount\": 8,\r\n  \"Poster\": {\r\n
        \   \"UserID\": 632001,\r\n    \"UserName\": \"Liselledeiane\",\r\n    \"PhotoUrl\":
        \"https://photos.bigoven.com/avatar/photo/121109110846632001.jpg\",\r\n    \"IsPremium\":
        false,\r\n    \"IsKitchenHelper\": false,\r\n    \"PremiumExpiryDate\": null,\r\n
        \   \"MemberSince\": \"2009-11-10T11:11:00.000Z\",\r\n    \"IsUsingRecurly\":
        false,\r\n    \"FirstName\": null,\r\n    \"LastName\": null\r\n  },\r\n  \"Ingredients\":
        [\r\n    {\r\n      \"IngredientID\": 1801972,\r\n      \"DisplayIndex\":
        0,\r\n      \"IsHeading\": false,\r\n      \"Name\": \"Crust \",\r\n      \"HTMLName\":
        \"Crust \",\r\n      \"Quantity\": 4.0,\r\n      \"DisplayQuantity\": \" 4
        \",\r\n      \"Unit\": \"\",\r\n      \"MetricQuantity\": 4.0,\r\n      \"MetricDisplayQuantity\":
        \" 4 \",\r\n      \"MetricUnit\": \"\",\r\n      \"PreparationNotes\": \"\",\r\n
        \     \"IngredientInfo\": null,\r\n      \"IsLinked\": true\r\n    },\r\n
        \   {\r\n      \"IngredientID\": 1801973,\r\n      \"DisplayIndex\": 1,\r\n
        \     \"IsHeading\": false,\r\n      \"Name\": \"Flour\",\r\n      \"HTMLName\":
        \"<a href=\\\"http://www.bigoven.com/glossary/flour\\\" class=\\\"glosslink\\\">Flour</a>\",\r\n
        \     \"Quantity\": 2.5,\r\n      \"DisplayQuantity\": \" 2 1/2 \",\r\n      \"Unit\":
        \"cups\",\r\n      \"MetricQuantity\": 591.0,\r\n      \"MetricDisplayQuantity\":
        \"591\",\r\n      \"MetricUnit\": \"ml\",\r\n      \"PreparationNotes\": \"\",\r\n
        \     \"IngredientInfo\": {\r\n        \"Name\": \"Flour\",\r\n        \"Department\":
        \"Baking\",\r\n        \"MasterIngredientID\": 34,\r\n        \"UsuallyOnHand\":
        true\r\n      },\r\n      \"IsLinked\": true\r\n    },\r\n    {\r\n      \"IngredientID\":
        1801974,\r\n      \"DisplayIndex\": 2,\r\n      \"IsHeading\": false,\r\n
        \     \"Name\": \"yeast \",\r\n      \"HTMLName\": \"<a href=\\\"http://www.bigoven.com/glossary/yeast\\\"
        class=\\\"glosslink\\\">yeast</a> \",\r\n      \"Quantity\": 1.0,\r\n      \"DisplayQuantity\":
        \" 1 \",\r\n      \"Unit\": \"tablespoon\",\r\n      \"MetricQuantity\": 15.0,\r\n
        [...]
[...]
