---
http_interactions:
- request:
    method: get
    uri: https://api2.bigoven.com/recipe/9999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-BigOven-API-Key:
      - 5d0PA2CPR5SEg3843If18k0JI12hHn7g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"RecipeID\": 9999,\r\n  \"Title\": \"Puttanesca\",\r\n  \"Description\":
        \"\",\r\n  \"Cuisine\": \"American\",\r\n  \"Category\": \"Main Dish\",\r\n
        \ \"Subcategory\": \"Pasta\",\r\n  \"Microcategory\": null,\r\n  \"PrimaryIngredient\":
        \"Pasta\",\r\n  \"StarRating\": 0.0,\r\n  \"WebURL\": \"http://www.bigoven.com/recipe/puttanesca/9999\",\r\n
        \ \"ImageURL\": null,\r\n  \"ReviewCount\": 0,\r\n  \"MedalCount\": 0,\r\n
        \ \"FavoriteCount\": 0,\r\n  \"Poster\": null,\r\n  \"Ingredients\": [\r\n
        \   {\r\n      \"IngredientID\": 95740,\r\n      \"DisplayIndex\": 0,\r\n
        \     \"IsHeading\": false,\r\n      \"Name\": \"2lb , 3 oz can Italian plum\",\r\n
        \     \"HTMLName\": \"2lb , 3 oz can <a href=\\\"http://www.bigoven.com/glossary/italian\\\"
        class=\\\"glosslink\\\">Italian</a> plum\",\r\n      \"Quantity\": 1.0,\r\n
        \     \"DisplayQuantity\": \"1\",\r\n      \"Unit\": \"\",\r\n      \"MetricQuantity\":
        1.0,\r\n      \"MetricDisplayQuantity\": \"1\",\r\n      \"MetricUnit\": \"\",\r\n
        \     \"PreparationNotes\": null,\r\n      \"IngredientInfo\": null,\r\n      \"IsLinked\":
        false\r\n    },\r\n    {\r\n      \"IngredientID\": 95739,\r\n      \"DisplayIndex\":
        1,\r\n      \"IsHeading\": false,\r\n      \"Name\": \"(optional)\",\r\n      \"HTMLName\":
        \"(optional)\",\r\n      \"Quantity\": 1.0,\r\n      \"DisplayQuantity\":
        \"\",\r\n      \"Unit\": \"\",\r\n      \"MetricQuantity\": 0.0,\r\n      \"MetricDisplayQuantity\":
        \"\",\r\n      \"MetricUnit\": \"\",\r\n      \"PreparationNotes\": null,\r\n
        \     \"IngredientIn[...]
