---
http_interactions:
- request:
    method: get
    uri: https://api2.bigoven.com/recipe/174616
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-BigOven-API-Key:
      - 5d0PA2CPR5SEg3843If18k0JI12hHn7g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"RecipeID\": 174616,\r\n  \"Title\": \"Pea Soup\",\r\n  \"Description\":
        \"Once again, delightful memories of childhood, this soup was a winter staple
        at our house and this recipe has been passed down for at least 4 generations.\\rThere
        is a lot of history to pea soup and not just in Lancashire, The traditional
        English pea soup was made with dried peas, and its greeny-brown colour was
        so similar to the dense smog that dominated London in the winter (until as
        late as the 1960s), that the smog became known as a ?pea-souper?. In Bleak
        House, Dickens referred to the fog as the ?London Particular?, and the name
        has been used for both fog and soup ever since.\\r\",\r\n  \"Cuisine\": \"English\",\r\n
        \ \"Category\": \"Soups, Stews and Chili\",\r\n  \"Subcategory\": \"Chowders\",\r\n
        \ \"Microcategory\": null,\r\n  \"PrimaryIngredient\": \"Peas\",\r\n  \"StarRating\":
        5.0,\r\n  \"WebURL\": \"http://www.bigoven.com/recipe/pea-soup/174616\",\r\n
        \ \"ImageURL\": null,\r\n  \"ReviewCount\": 1,\r\n  \"MedalCount\": 0,\r\n
        \ \"FavoriteCount\": 5,\r\n  \"Poster\": {\r\n    \"UserID\": 518748,\r\n
        \   \"UserName\": \"Astro-Chef\",\r\n    \"PhotoUrl\": \"https://photos.bigoven.com/avatar/photo/astro-chef=290ee5.jpg\",\r\n
        \   \"IsPremium\": true,\r\n    \"IsKitchenHelper\": false,\r\n    \"PremiumExpiryDate\":
        \"2100-01-01T00:00:00.000Z\",\r\n    \"MemberSince\": \"2009-07-30T04:14:00.000Z\",\r\n
        \   \"IsUsingRecurly\": false,\r\n    \"FirstName\": null,\r\n    \"LastName\":
        null\r\n  },\r\n  \"Ingredients\": [\r\n    {\r\n      \"IngredientID\": 1785150,\r\n
        \     \"DisplayIndex\": 0,\r\n      \"IsHeading\": false,\r\n      \"Name\":
        \"Marrowfat peas (dried)\",\r\n      \"HTMLName\": \"<a href=\\\"http://www.bigoven.com/glossary/marrow\\\"
        class=\\\"glosslink\\\">Marrow</a>fat peas (dried)\",\r\n      \"Quantity\":
        1.0,\r\n      \"DisplayQuantity\": \"1\",\r\n      \"Unit\": \"pound\",\r\n
        \     \"MetricQuantity\": 0.45359237,\r\n      \"MetricDisplayQuantity\":
        \"0.45\",\r\n      \"MetricUnit\": \"kg\",\r\n      \"PreparationNotes\":
        \"dry\",\r\n      \"IngredientInfo\": null,\r\n      \"IsLinked\": false\r\n
        \   },\r\n    {\r\n      \"IngredientID\": 1785151,\r\n      \"DisplayIndex\":
        1,\r\n      \"IsHeading\": false,\r\n      \"Name\": \"Ham Stock\",\r\n      \"HTMLName\":
        \"Ham <a href=\\\"http://www.bigoven.com/glossary/stock\\\" class=\\\"glosslink\\\">Stock</a>\",\r\n
        \     \"Quantity\": 8.0,\r\n      \"DisplayQuantity\": \"8\",\r\n      \"Unit\":
        \"cups\",\r\n      \"MetricQuantity\": 1893.0,\r\n      \"MetricDisplayQuantity\":
        \"1893\",\r\n      \"MetricUnit\": \"ml\",\r\n      \"PreparationNotes\":
        \"if at all possible homemade\",\r\n      \"IngredientInfo\": null,\r\n      \"IsLinked\":
        false\r\n    },\r\n    {\r\n      \"IngredientID\": 1785152,\r\n      \"DisplayIndex\":
        2,\r\n      \"IsHeading\": false,\r\n      \"Name\": \"celery\",\r\n      \"HTMLName\":
        \"<a href=\\\"http://www.bigoven.com/glossary/celery\\\" class=\\\"glosslink\\\">celery</a>\",\r\n
        \     \"Quantity\": 2.0,\r\n      \"DisplayQuantity\": \"2\",\r\n      \"Unit\":
        \"ribs\",\r\n      \"MetricQuantity\": 2.0,\r\n      \"MetricDisplayQuantity\":
        \"2\",\r\n      \"MetricUnit\": \"ribs\",\r\n      \"PreparationNotes\": \"finely
        chopped\",\r\n      \"IngredientInfo\": {\r\n        \"Name\": \"Celery\",\r\n
        \       \"Department\": \"Produce\",\r\n        \"MasterIngredientID\": 3,\r\n
        \       \"UsuallyOnHand\": false\r\n      },\r\n      \"IsLinked\": true\r\n
        \   },\r\n    {\r\n      \"IngredientID\": 1785153,\r\n      \"DisplayIndex\":
        3,\r\n      \"IsHeading\": false,\r\n      \"Name\": \"carrot\",\r\n      \"HTMLName\":
        \"<a href=\\\"http://www.bigoven.com/glossary/carrot\\\" class=\\\"glosslink\\\">carrot</a>\",\r\n
        \     \"Quantity\": 2.0,\r\n      \"DisplayQuantity\": \"2\",\r\n      \"Unit\":
        \"medium\",\r\n      \"MetricQuantity\": 2.0,\r\n      \"Metri[...]
