---
http_interactions:
- request:
    method: get
    uri: https://api2.bigoven.com/recipes?title_kw=Pea%20soup
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-BigOven-API-Key:
      - 5d0PA2CPR5SEg3843If18k0JI12hHn7g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"bd6a902a-6b79-44c3-a94a-37a65672abf6"'
    body:
      encoding: UTF-8
      string: "{\r\n  \"ResultCount\": 684,\r\n  \"Results\": [\r\n    {\r\n      \"RecipeID\":
        174616,\r\n      \"Title\": \"Pea Soup\",\r\n      \"Cuisine\": \"English\",\r\n
        \     \"Category\": \"Soups, Stews and Chili\",\r\n      \"Subcategory\":
        \"Chowders\",\r\n      \"Microcategory\": \"\",\r\n      \"StarRating\": 5.0,\r\n
        \     \"WebURL\": \"https://www.bigoven.com/recipe/pea-soup/174616\",\r\n
        \     \"ReviewCount\": 1,\r\n      \"Poster\": {\r\n        \"UserName\":
        \"Astro-Chef\",\r\n        \"UserID\": 518748,\r\n        \"FirstName\": null,\r\n
        \       \"LastName\": null,\r\n        \"PhotoUrl\": \"https://photos.bigoven.com/avatar/photo/astro-chef=290ee5.jpg\"\r\n
        \     },\r\n      \"IsPrivate\": false,\r\n      \"Servings\": 10.0,\r\n      \"CreationDate\":
        \"2009-09-18T02:54:57.337Z\",\r\n      \"IsRecipeScan\": false,\r\n      \"IsBookmark\":
        false,\r\n      \"TotalTries\": 3,\r\n      \"PhotoUrl\": \"https://photos.bigoven.com/recipe/hero/recipe-no-image.jpg\"\r\n
        \   },\r\n    {\r\n      \"RecipeID\": 2073337,\r\n      \"Title\": \"Pea
        soup\",\r\n      \"Cuisine\": \"\",\r\n      \"Category\": \"Soups, Stews
        and Chili\",\r\n      \"Subcategory\": \"Beans and Legumes\",\r\n      \"Microcategory\":
        \"\",\r\n      \"StarRating\": 0.0,\r\n      \"WebURL\": \"https://www.bigoven.com/recipe/pea-soup/2073337\",\r\n
        \     \"Review[...]
