---
http_interactions:
- request:
    method: get
    uri: https://api2.bigoven.com/recipes?title_kw=Butter%20Chicken&rpp=3&pg=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-BigOven-API-Key:
      - 5d0PA2CPR5SEg3843If18k0JI12hHn7g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"653b78d6-e5af-4a23-996d-c18acf00125c"'
    body:
      encoding: UTF-8
      string: "{\r\n  \"ResultCount\": 611,\r\n  \"Results\": [\r\n    {\r\n      \"RecipeID\":
        230806,\r\n      \"Title\": \"Butter Chicken\",\r\n      \"Cuisine\": \"Indian\",\r\n
        \     \"Category\": \"Main Dish\",\r\n      \"Subcategory\": \"Poultry - Chicken\",\r\n
        \     \"Microcategory\": \"\",\r\n      \"StarRating\": 5.0,\r\n      \"WebURL\":
        \"https://www.bigoven.com/recipe/butter-chicken/230806\",\r\n      \"ReviewCount\":
        1,\r\n      \"Poster\": {\r\n        \"UserName\": \"christiepercival\",\r\n
        \       \"UserID\": 1391483,\r\n        \"FirstName\": null,\r\n        \"LastName\":
        null,\r\n        \"PhotoUrl\": \"https://photos.bigoven.com/avatar/photo/christiepercival.jpg\"\r\n
        \     },\r\n      \"IsPrivate\": false,\r\n      \"Servings\": 4.0,\r\n      \"CreationDate\":
        \"2011-12-30T22:03:37.507Z\",\r\n      \"IsRecipeScan\": false,\r\n      \"IsBookmark\":
        false,\r\n      \"TotalTries\": 51,\r\n      \"PhotoUrl\": \"https://photos.bigoven.com/recipe/hero/butter-chicken-2.jpg\"\r\n
        \   },\r\n    {\r\n      \"RecipeID\": 182884,\r\n      \"Title\": \"Butter
        Chicken\",\r\n      \"Cuisine\": \"Indian\",\r\n      \"Category\": \"Main
        Dish\",\r\n      \"Subcategory\": \"Poultry - Chicken\",\r\n      \"Microcategory\":
        \"\",\r\n      \"StarRating\": 3.0,\r\n      \"WebURL\": \"https://www.bigoven.com/recipe/butter-chicken/182884\",\r\n
        \     \"R[...]
[...]
- request:
    method: get
    uri: https://api2.bigoven.com/recipes?title_kw=Butter%20Chicken&rpp=3&pg=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-BigOven-API-Key:
      - 5d0PA2CPR5SEg3843If18k0JI12hHn7g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"ad55570c-5d18-4c86-8967-1af61d9b31c6"'
    body:
      encoding: UTF-8
      string: "{\r\n  \"ResultCount\": 6[...]
