---
http_interactions:
- request:
    method: get
    uri: http://www.themealdb.com/api/json/v1/1/latest.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meals":[{"idMeal":"52936","strMeal":"Saltfish and Ackee","strCategory":"Seafood","strArea":"Jamaican","strInstructions":"For
        the saltfish, soak the salt cod overnight, changing the water a couple of
        times.\r\nDrain, then put the cod in a large pan of fresh water and bring
        to the boil. Drain again, add fresh water and bring to the boil again.\r\nSimmer
        for about five minutes, or until cooked through, then drain and flake the
        fish into large pieces. Discard any skin or bones.\r\nFor the dumplings, mix
        the flour and suet with a pinch of salt and 250ml\/9fl oz water to make a
        dough.\r\nWrap the mixture in clingfilm and leave in the fridge to rest.\r\nOpen
        the can of ackee, drain and rinse, then set aside.\r\nHeat a tablespoon of
        olive oil in a pan and fry the onion until softened but not brown.\r\nAdd
        the spices, seasoning, pepper sauce and sliced peppers and continue to fry
        until the peppers are tender.\r\nAdd the chopped tomatoes, then the salt cod
        and mix together. Lastly stir in the ackee very gently and leave to simmer
        until ready to serve.\r\nWhen you\u2019re almost ready to eat, heat about
        1cm\/\u00bdin vegetable oil in a frying pan and heat until just smoking.\r\nShape
        the dumpling mix into plum-size balls and shallow-fry until golden-brown.
        (CAUTION: hot oil can be dangerous. Do not leave the pan unattended.)\r\nDrain
        the dumplings on kitchen paper and serve with the saltfish and ackee.","strMealThumb":"http:\/\/www.themealdb.com\/images\/media\/meals\/vytypy1511883765.jpg","strTags":"Speciality","strYoutube":"https:\/\/www.youtube.com\/watch?v=nbfNyZbdn2I","strIngredient1":"Salt
        Cod","strIngredient2":"Ackee","strIngredient3":"Onion","strIngredient4":"Paprika","strIngredient5":"Curry
        Powder","strIngredient6":"Jerusalem Artichokes","strIngredient7":"Hotsauce","strIngredient8":"Red
        Pepper","strIngredient9":"Yellow Pepper","strIngredient10":"Tomatoes","strIngredient11":"Salt","strIngredient12":"Pepper","strIngredient13":"Self-raising
        Flour","strIngredient14":"Suet","strIngredient15":"Salt","strIngredient16":"Olive
        Oil","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"450g","strMeasure2":"400g","strMeasure3":"1
        chopped","strMeasure4":"1 tsp ","strMeasure5":"2 tsp","strMeasure6":"2 tsp","strMeasure7":"1
        tsp ","strMeasure8":"1 sliced","strMeasure9":"1 sliced","strMeasure10":"200g","strMeasure11":"to
        taste","strMeasure12":"to taste","strMeasure13":"250g","strMeasure14":"30g","strMeasure15":"pinch","strMeasure16":"for
        frying","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbc.co.uk\/food\/recipes\/saltfish__ackee_with_64803","dateModified":null},{"idMeal":"52935","strMeal":"Steak
        Diane","strCategory":"Beef","strArea":"French","strInstructions":"Heat oil
        in a 12\" skillet over medium-high heat. Season steaks with salt and pepper,
        and add to skillet; cook, turning once, until browned on both sides and cooked
        to desired doneness, about 4 to 5 minutes for medium-rare. Transfer steaks
        to a plate, and set aside.\r\nReturn skillet to high heat, and add stock;
        cook until reduced until to 1\u[...]
